/.project
.trae/
*.config
/sav
chara_*.dat
*.sav
/debug
*.log
*.bak
*.orig
/.vscode
setting.json
profile
lazyloading.dat
lazyloadingfiles.dat
lazyloading.bin
lazyloadingfiles.bin
[Tt]emp/
eratw-sub-modding.wiki/
