IGNORE CASE:YES
USE _RENAME.CSV FILE:YES
USE _REPLACE.CSV FILE:YES
USE MOUSE:YES
SHOW MENU:YES
ALLOW DEBUG COMMANDS:YES
ALLOW MULTIPLE INSTANCES:YES
MAKE AUTOSAVES:NO
USE KEYBOARD MACROS:YES
CHANGEABLE WINDOW HEIGHT:YES
DRAWING INTERFACE:TEXTRENDERER
WINDOW WIDTH:1800
WINDOW HEIGHT:973
WINDOW X POSITION:44
WINDOW Y POSITION:0
FIXED WINDOW STARTING POSITION:NO
MAXIMIZE WINDOW ON STARTUP:NO
MAX HISTORY LOG LINES:1500
ITEMS PER LINE FOR PRINTC:5
NUMBER OF ITEM CHARACTERS FOR PRINTC:25
FONT NAME:黑体
FONT SIZE:18
LINE HEIGHT:18
TEXT COLOR:192,192,192
BACKGROUND COLOR:0,0,0
HIGHLIGHT COLOR:255,255,0
HISTORY LOG COLOR:128,128,128
FPS:3
SKIP FRAMES:3
LINES PER SCROLL:6
MILLISECONDS FOR INFINITE LOOP WARNING:15000
MINIMUM WARNING LEVEL:0
DISPLAY LOADING REPORT:NO
REDUCE ARGUMENT ON LOAD:YES
IGNORE UNCALLED FUNCTIONS:YES
FUNCTION IS NOT FOUND WARNING:DISPLAY
FUNCTION NOT CALLED WARNING:ONCE
BUTTON WRAPPING:YES
SEARCH SUBFOLDERS:YES
SORT FILENAMES:YES
SAVE DATA COUNT PER PAGE:20
ERAMAKER COMPATIBILITY WARNING:NO
ALLOW OVERRIDING SYSTEM FUNCTIONS:YES
SYSTEM FUNCTION OVERRIDE WARNING:YES
TEXT EDITOR:notepad
TEXT EDITOR COMMAND LINE SETTING:USER_SETTING
TEXT EDITOR COMMAND LINE ARGUMENTS:
DUPLICATED FUNCTIONS WARNING:YES
EXECUTE ERROR LINES:NO
USE NAME IF CALLNAME IS EMPTY:YES
USE SAV FOLDER:YES
IMITATE BEHAVIOR FOR RAND:NO
DO NOT IGNORE CASE FOR FUNCTIONS AND ATTRIBUTES:NO
WHITESPACE INCLUDES FULL-WIDTH SPACE:NO
REPRODUCE WRAPPING BEHAVIOR LIKE IN PRE VER1739:NO
DEFAULT ANSI ENCODING:CHINESE_HANS
ALLOW LONG INPUT BY MOUSE FOR ONEINPUT:NO
ALLOW CALL ON EVENT FUNCTIONS:NO
ALLOW SP CHARACTERS:NO
USE THE BINARY FORMAT FOR SAVING DATA:YES
ALLOW ARGUMENTS OMISSION FOR USER FUNCTIONS:NO
AUTO TOSTR CONVERSION FOR USER FUNCTION ARGUMENTS:YES
DO NOT PROCESS TRIPLE SYMBOLS INSIDE FORM:NO
IMITATE BEHAVIOR FOR TIMES:NO
DO NOT AUTO-COMPLETE ARGUMENTS FOR CHARACTER VARIABLES:NO
STRING VARIABLE ASSIGNMENT ON VALID WITH STRING EXPRESSION:NO
USELAZYLOADING:YES
SKIASHARP IMAGE QUALITY:High
SKIASHARP FONT HINTING:None
SKIASHARP FONT EDGING:SubpixelAntiAlias
RENDERING BACKEND:Auto
DISALLOW UPDATECHECK:NO
USE ERD:YES
IMITATE ERD TO VARSIZE DIMENSION SPECIFICATION:NO
CHECK DUPLICATE ERD IDENTIFIER AND PRIVATE VARIABLEA:YES
STRING OF REPLACING NEW LINE CODE INSIDE CONTINUATION:" "
PLUGIN AVAILABLE WARNING:YES
DISABLE BEFORE_ERROR/THROW EVENTS:YES
VALID EXTENSIONS FOR LOADTEXT AND SAVETEXT:xml,txt,json
COMPRESS SAVE DATA:YES
OUTPUT ENGLISH ITEMS IN THE CONFIG FILE:YES
EMUERA INTERFACE LANGUAGE:简体中文
PATH TO A CUSTOM WINDOW ICON:icon.ico
CLIPBOARD- COPY TEXT TO CLIPBOARD DURING GAME:NO
CLIPBOARD- IGNORE <> TAGS IN TEXT:NO
CLIPBOARD- REPLACE <> WITH THIS:.
CLIPBOARD- SHOW NEW LINES ONLY:YES
CLIPBOARD- CLEAR BUFFER WHEN GAME CLEARS SCREEN:NO
CLIPBOARD- LEFTCLICK TRIGGER:YES
CLIPBOARD- MIDDLECLICK TRIGGER:NO
CLIPBOARD- DOUBLE LEFT CLICK TRIGGER:NO
CLIPBOARD- ANYKEY WAIT TRIGGER :NO
CLIPBOARD- WAIT FOR INPUT TRIGGER:YES
CLIPBOARD- LENGTH OF CLIPBOARD:25
CLIPBOARD- BUFFER SIZE:300
CLIPBOARD- SCROLLED LINES PER KEY:5
CLIPBOARD- MIN TIME BETWEEN PASTES:800
RIKAI- ENABLED:NO
RIKAI- DICTIONARY FILENAME:Emuera-Rikai-edict.txt-eucjp
RIKAI- BACK COLOR:0,0,139
RIKAI- TEXT COLOR:255,255,255
RIKAI- USE SEPARATE BOXES:YES
ENABLE UNDO WITH CTRL-Z:NO
