;revからパクリ

@SYSTEM_TITLE
LOADGLOBAL
RESULT = GLOBAL
SAVEGLOBAL
LOADGLOBAL

RESETBGCOLOR
IF GAMEBASE_VERSION == 0
	WINDOW_TITLE = %GAMEBASE_TITLE% %eraTW_Version%
ELSEIF GAMEBASE_VERSION < 0
	WINDOW_TITLE = %GAMEBASE_TITLE% 0.00
ENDIF
CLEARLINE 1
RESULT  = 1
LOCAL:2 = LINECOUNT

CALL COMPOSE_SPRITE

DO
	REDRAW 0
	CLEARLINE LINECOUNT - LOCAL:2
	FOR LOCAL:0, 0, 35
		HTML_PRINT "<p align='center'><img src='TW_title" + TOSTR(LOCAL:0, "000") + "'></p>"
	NEXT
	ALIGNMENT CENTER
	CUSTOMDRAWLINE ━
	PRINTFORML %GAMEBASE_TITLE%
	PRINTFORML \@ GAMEBASE_VERSION <= 0 ? %eraTW_Version% # %TOSTR(GAMEBASE_VERSION,"0,.###")% \@
	PRINTFORML %GAMEBASE_YEAR%
;	CALL HTMLPRINTL(@"%HTMLFONT(@"<b>%HTMLSTYLE(@"%GAMEBASE_TITLE%", 2)%</b>", "Courier New", )%")
;	CALL HTMLPRINTL(@"%HTMLFONT(@"<b>%eraTW_Version%</b>", "Courier New")%")
;	CALL HTMLPRINTL(@"%HTMLFONT(@"<b>(%GAMEBASE_YEAR%)</b>", "Courier New")%")
		PRINTL
		PRINTFORML 汉化版仅为学习日语的交流之用，禁止对该版本的一切盗用、商用行为
		PRINTFORML %GAMEBASE_INFO%
	CUSTOMDRAWLINE ━
	PRINTFORML [0] 进来了哦
	PRINTFORML [1] 继续了哦
	ALIGNMENT LEFT
	REDRAW 1
	INPUT
	CUSTOMDRAWLINE ━
	SELECTCASE RESULT
		CASE 0
			RESETDATA
			ADDCHARA 0
			BEGIN FIRST
		CASE 1
			LOADGAME
	ENDSELECT
LOOP RESULT
